<!DOCTYPE html>

{% extends 'noodle/base.html' %}
{% load staticfiles %}

	{% block title_block %}
		Add Course
	{% endblock %}

	{% block body_block %}
	<!-- Is there some sort of way that if the course already exists it flags this and asks if the user would like to visit that course page? -->
	<section id="main" class="wrapper">
		<header class="major">
			<h1> Add Subject </h1>
			<p />
		</header>
		<!-- form for adding subject-->
		<form id="CourseForm" method="post" action="/teachhome/{{% subject_name %}}/add_course">
	<button onclick="goBack()">Go Back</button>
	<script src="{% static 'js/backButton.js' %}"></script>
	</section>
	{% endblock %}

