<!DOCTYPE html>

{% extends 'noodle/base.html' %}
{% load staticfiles %}

	{% block title_block %}
		Add Subject
	{% endblock %}

	{% block body_block %}
	<section id="main" class="wrapper">
		<header class="major">
			<h1> Add Subject </h1>
			<p />
		</header>
		<!-- form for adding subject-->
		<form id="SubjectForm" method="post" action="/teachhome/add_subject">
	<button onclick="goBack()">Go Back</button>
	<script src="{% static 'js/backButton.js' %}"></script>
	</section>
	{% endblock %}

