	{% extends 'noodle/base.html' %}
	{% load staticfiles %}

	{% block title_block %}
	{% endblock %}
	{% block body_block %}
	
			{% if course %}
				<h1>Add an Assignment or File to {{course.name}}</h1>
				<form id="page_form" method="post" action="/teachhome/{{% course_name %}}/add">
					{% csrf_token %}
					Add:<br>
					Assignment:
					<input type="radio" id="a" name="file_type" value="Assignment"> 
					File:
					<input type="radio" id="a" name="file_type" value="File"> 
					
					{% if file_type="Assignment" %}
						<form action="{% url "add_assignment" %}" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							
							{{ form.as_p }}
							{{ assignment_form.as_p }}
							
							<p>{{ form.non_field_errors }}</p>
							<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
							<p>
							{{ form.docfile.errors }}
							{{ form.docfile }}
							</p>
							<p><input type="submit" name="assignment" value="submit" /></p>
						</form>
					{% else if file_type="File" %}
						<form action="{% url "add_assignment" %}" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							
							{{ form.as_p }}
							{{ file_form.as_p }}
							
							<p>{{ form.non_field_errors }}</p>
							<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
							<p>
							{{ form.docfile.errors }}
							{{ form.docfile }}
							</p>
							<p><input type="submit" name="file" value="submit" /></p>
						</form>
					{% endif %}
						
					<input type="submit" name="submit" value="Add" />
				</form>
			{% else %}
				The specified course does not exist!
			{% endif %}
	 {% endblock %}