<!DOCTYPE html>

{% extends 'noodle/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}
	{% if announcement %}
		<section id="main" class="wrapper">
		<header class="major">
			<h1> {{ announcement.name }} </h1>
			<p />
		</header>
	{{ announcement.body }}
	{% else %}
		Announcement could not be found!
	{% endif %}
	</br>
	</br>
	<button><a href="{% url 'noodle:show_announcements' course.subject.slug course.slug %}">Back to Course Announcements</a></button>
{% endblock %}

