<!DOCTYPE html>

{% extends 'noodle/base.html' %}
{% load staticfiles %}

	{% block title_block %}
	{{assessment.material.name}}
	{% endblock %}

	{% block body_block %}
	<section id="main" class="wrapper">
	<header class="major">
		<h1>{{assessment.material.name}} </h1>
		<p />
	</header>
		<div id="frame">
			
			Date Issued: {{assessment.material.datePosted}}
			</br>
			Deadline: {{ assessment.deadline }}
			</br>
			{% if submission.file and not tier %}
				<!-- Download File-->
				{{ submission_string }}
			{% elif not tier %}
				You have not yet submitted a file!
			{% endif %}
			</br>
			
		{% if not tier %}
			<form id="AssessmentForm" method="post" action="{{request.get_full_path}}" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
			<input type="submit" name="submit" value="Add" />
			</form>
		{% elif tier %}
		{% endif %}
		</div>

		<a href="{% url 'noodle:show_course' course.subject.slug course.slug %}">Back to Course</a>
	</section>
	
	{% endblock %}

