<!DOCTYPE html>
	
	{% load staticfiles %}
	
	<html>
	<link rel="stylesheet" type="text/css" href="{% static "css/stylesheet.css" %}">
	<head>
		<title>
			{% block title_block %} 
				Noodle 
			{% endblock %}
		</title>
	</head>
	<body>
	
		
	<div>	
		
			<header id="header">
				<a href="index.html"><img src="{% static "images/logo.gif" %}" alt="Noodle Logo" /></a>
				<nav id="nav">
					{% if user.is_authenticated %}
						<li><a href="{% url 'noodle:mypage' %}">MyNoodle</a></li>
						<li><a href="{% url 'noodle:logout' %}">Logout</a></li>
					{% else %}
					<ul>
						<li><a href="{% url 'noodle:login' %}">Login</a></li>
						<li><a href="{% url 'noodle:register' %}">Register</a></li>
					</ul>
					{% endif %}
				</nav>
			</header>

	</div>
	{% block body_block %}
	{% endblock %}
	
	{% if user.is_authenticated %}
	
	{% endif %}
	</body>
	</html>