<!DOCTYPE html>

{% extends 'noodle/base.html' %}
{% load staticfiles %}

	{% block title_block %}
		{{ course_name}}
	{% endblock %}

{% block body_block %}
	
	{% if course %}
		
		<section id="main" class="wrapper">
		<header class="major">
			<h1> {{ course }} </h1>
			<p />
		</header>
		
		<button><a href="{{request.get_full_path}}announcements/">Announcements</a></button>
		
		</br>
		<div id="menu2">
		<div id="sidebar2">
			<h2>Assignments</h2>
		</div>
	
		<ul>
			{% include 'noodle/paginator.html' with items=assignments find_assessments=true %}
		</ul>
		</div>
		<div id="menu2">
		<div id="sidebar2">
			<h2>Files</h2>
		</div>
			<ul>
			{% include 'noodle/paginator.html' with items=files %}
			</ul>
		</div>
		
	{% else %}
		<p> The requested course could not be found</p>
		</br>
	{% endif %}
				
		{% if tier %}
		
		<!--File Form-->
		
		<button id="visibilityButtonFile" type="button">Add File</button>
		</br>
		<form id="FileForm" method="post" action="{{request.get_full_path}}" enctype="multipart/form-data" display=none>
			{% csrf_token %}
			{{ form.as_p }}
			{{ file_form.as_p }}
		<input type="submit" name="submit" value="Add" />
		</form>
	
		<script src={% static 'js/visibilityButton.js' %}></script>
		<script>
			visibilityButton("{{request.get_full_path}}", "visibilityButtonFile", "FileForm");
		</script>
	
		<!--Assignment Form-->
	
		<button id="visibilityButtonAssignment" type="button">Add Assignment</button>
		</br>
		<form id="AssignmentForm" method="post" action="{{request.get_full_path}}" enctype="multipart/form-data" display=none>
			{% csrf_token %}
			{{ form.as_p }}
			{{ assignment_form.as_p }}
		<input type="submit" name="submit" value="Add" />
		</form>
	
		<script src={% static 'js/visibilityButton.js' %}></script>
		<script>
			visibilityButton("{{request.get_full_path}}", "visibilityButtonAssignment", "AssignmentForm");
		</script>
	
		</br>
		{% endif %}
		
		
		<button><a href="{% url 'noodle:show_subject' subject.slug %}">Back to Subject</a></button>
		
	</section>
{% endblock %}

