{% extends 'noodle/base.html' %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheet.css" >
{% load staticfiles %}

{% block title_block %}	
{% endblock %}
{% block body_block %}
<section id="main" class="wrapper">
	<div class="container">
		<header class="major">
			<h2>Welcome To Noodle</h2>
			<h3>Not The Learning Management Service You Need.</br> But The One You Deserve.</h3>
			<p> Noodle is a Learning Management System tailor made for both Students and Academics alike. Keep track of or set assignments, keep up to date with your lecture notes and more</p>
					
		</header>
		<center>
			<a href="#" class="image fit"><img src="{% static "homepage_image.jpg" %}" alt="Picture of Students" /></a>
		</center>
		<p>
	</div>
</section>
{% endblock %}