{% extends 'noodle/base.html' %}
{% load staticfiles %}

	{% block title_block %}
		MyNoodle
	{% endblock %}

{% block body_block %}
	<section id="main" class="wrapper">
	<div id="center">
		<div id="menu2">
			<div id="sidebar2">
			MyNoodle
			</div>
			Username: {{user}}<br />
			{% if tier == 1 %}
				Status: {{user.staff.status}}<br />
				Subject: {{user.staff.subject}}<br />
			{% else %}
				Year of Study: {{user.student.yearOfStudy}}<br />
				Subject: {{user.student.subject}}</br>
				{% if courses %}
					Courses: {{user.student.enrolledIn}}<br />
				{% else %}
					Courses: None!<br />
				{% endif %}
			{% endif %}
		</div>
	</div>
	<button onclick="goBack()">Go Back</button>
	<script src="{% static 'js/backButton.js' %}"></script>
	</section>
{% endblock %}