<!DOCTYPE html>

<!--Note: This is not a standalone HTML file but a helper
    to set out page structure-->
<!--It requires a page (items)
	and for each item in items to have both a name and a slug-->

{% block page_block %}
	{% for item in items %}
	<ul>
		
	<br />
		{% if item.materialFile.file %}
			{% if item.visibility or tier %}
				<li><a href="{{ item.materialFile.file.url }}">{{ item.name }}</a></li>
			{% endif %}
		{% endif %}
	</ul>
		
	{% endfor %}
	
	{% include 'noodle/paginatorCore.html' with items=items %}
	
{% endblock %}

