<!DOCTYPE html>

<!--Note: This is not a standalone HTML file but a helper
    to set out page structure-->
<!--It requires a page (items)
	and for each item in items to have both a name and a slug-->

{% block page_block %}
	<div class ="pagination">
		<span class="links">
			{% if items.has_previous %}
				<a href="?page={{ items.previous_page_number }}">Previous</a>
			{% endif %}
			
			{{ items.page_range }}
			
			{% for pNo in items.page_range %}
				{% if pNo == items.number %}
					<b><a href="?page={{ pNo }}">pNo</a></b>
				{% else %}
					<a href="?page={{ pNo }}">pNo</a>
				{% endif %}
			{% endfor %}
			
			{% if items.has_next %}
				<a href="?page={{ items.next_page_number }}">Next</a>
			{% endif %}
	
{% endblock %}

