<!DOCTYPE html>

<!--Note: This is not a standalone HTML file but a helper
    to set out page structure-->
<!--It requires a page (items), a 'base url' for each item
	(for example the base url to show_courses before regex)
	and for each item in items to have both a name and a slug-->

{% block page_block %}
	{% for item in items %}
		{% if base_url %}
			<a href="{{base_url}}{{item.slug}}/">{{ item.name }}</a>
		{% else %}
			<a href="{{request.get_full_path}}{{item.slug}}/">{{ item.name }}</a>	
		{% endif %}
		</br>
	{% endfor %}
	
	<div class ="pagination">
		<span class="links">
			{% if items.has_previous %}
				<a href="?page={{ items.previous_page_number }}">Previous</a>
			{% endif %}
			
			{% for pNo in items.page_range %}
				{% if pNo == items.number %}
					<b><a href="?page={{ pNo }}">pNo</a></b>
				{% else %}
					<a href="?page={{ pNo }}">pNo</a>
				{% endif %}
			{% endfor %}
			
			{% if items.has_next %}
				<a href="?page={{ items.next_page_number }}">Next</a>
			{% endif %}
			
			</br>
	
{% endblock %}

