<!DOCTYPE html>

<!--Note: This is not a standalone HTML file but a helper
    to set out page structure-->
<!--It requires a page (items)
	and for each item in items to have both a name and a slug-->

{% block page_block %}
	{% for item in items %}
			
			{% if tier or item.material.visibility %}
				<li><a href="{% url 'noodle:show_assessment' item.material.courseFrom.subject.slug item.material.courseFrom.slug item.slug %}">{{ item.material.name }}</a></li>
			{% endif %}
		
	{% endfor %}
	
	{% include 'noodle/paginatorCore.html' with items=items %}
	
{% endblock %}

