<!DOCTYPE html>

{% extends 'noodle/base.html' %}
{% load staticfiles %}

{% block title_block %}	
{% endblock %}


{% block body_block %}
	<br />
	<br />
	<div id="align-left">
		<header id="header">
			Recently Viewed
		</header>
		<nav id="nav">
		{% include "paginator.html" with items = recentPages base_url = {% url 'show_courses %} %}
		</nav>
	</div>
	<br />
	<br />
	<div id="align-left">
		<header id="header">
			Assignments
		</header>
		<nav id="nav">
		{% include "paginator.html" with items = assignmentPages base_url = {% url show_material %} %}
		</nav>
	</div>
{% endblock %}