<!DOCTYPE html>

{% extends 'noodle/base.html' %}
{% load staticfiles %}

{% block title_block %}	
	Student Home
{% endblock %}


{% block body_block %}
	
	<section id="main" class="wrapper">
	<header class="major">
		<h1> Welcome {{user}} </h1>
		<p />
	</header>

		<div id="menu">
		<div id="sidebar">
			Recently Viewed
		</div>
		<ul>
			{% for recentCourse in recentCourses %}
				<li><a href="{% url 'noodle:show_course' recentCourse.subject.slug recentCourse.slug %}">{{ recentCourse }}</a></li>
			{% endfor %}
		<ul>
		
	</div>
	<br />
	<br />
		<div id="menu">
		<div id="sidebar">
			Assignments
		</div>
		<ul>
		<!-- This area should display links to Assignments due in the next 7 days-->
		<li>{% include 'noodle/paginator.html' with items=assignmentPages find_assignment=True %}</li>
		</ul>
		</div>
		<div id="frameStu">
		<div id="sidebar">
		<h2>My Courses</h2>
		</div>
		{% include 'noodle/paginator.html' with items=myCourses find_subject=True %}
		<div id="sidebar">
		<h2>Subjects</h2>
		</div>
		{% include 'noodle/paginator.html' with items=subjects find_subject=True %}
		
		
	</div>
	</div>
	</div>
	
	</section>
{% endblock %}