<!DOCTYPE html>

{% extends 'noodle/base.html' %}
{% load staticfiles %}

{% block title_block %}	
{% endblock %}


{% block body_block %}
	<br />
	<br />
	<div id="align-left">
		<header id="header">
			Recently Viewed
		</header>
		<nav id="nav">
		{% url 'noodle:show_courses' as course_url %}
		{% include "noodle/paginator.html" with items=recentPages base_url=course_url %}
		</nav>
	</div>
	<br />
	<br />
	<div id="align-left">
		<header id="header">
			Assignments
		</header>
		<nav id="nav">
		{% url 'noodle:show_material' as material_url %}
		{% include "noodle/paginator.html" with items=assignmentPages base_url=material_url %}
		</nav>
	</div>
{% endblock %}