<!DOCTYPE html>

{% extends 'noodle/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ subject }} 
{% endblock %}

{% block body_block %}
		
	{% if subject %}
		<section id="main" class="wrapper">
		<header class="major">
			<h1> {{ subject }} </h1>
			<p />

		</header>
		<div id="menu2">
		<div id="sidebar2">
			<h2>Courses</h2>
		</div>
	
		<ul>
			{% include 'noodle/paginator.html' with items=courses %}
		</ul>
		</div>
		</section>
		{% if tier %}
			<a href="{% url 'noodle:add_course' subject.slug %}"> Add Course</a>
		{% endif %}

	{% else %}
		<p> The requested subject could not be found</p>
	{% endif %}
</br>
{% endblock %}

