{% extends 'noodle/base.html' %}
{% load staticfiles %}

	{% block title_block %}
		Staff Home
	{% endblock %}

	{% block body_block %}
<section id="main" class="wrapper">
	<header class="major">
		<h1> Welcome {{user}} </h1>
		<p />
	</header>
		
		<div id="menu">
		<div id="sidebar">
			Options
		</div>
		<ul>
		{% if tier == 2 %}
			<button id="visibilityButton" type="button">Add Subject</button>
			</br>
			<form id="SubjectForm" method="post" action="{{request.get_full_path}}" enctype="multipart/form-data">
				{% csrf_token %}
				{{ subject_form.as_p }}
			<input type="submit" name="submit" value="Add" />
			</form>
	
			<script src={% static 'js/visibilityButton.js' %}></script>
			<script>
				visibilityButton("{{request.get_full_path}}", "visibilityButton", "SubjectForm");
			</script>
	
			</br>
		{% endif %}
		</ul>	
		</div>
	<div id="frame">
		{% if not tier > 1 %}
		<h2>My Courses</h2>
			{% include 'noodle/paginator.html' with items=myCourses find_subject=True %}
		{% endif %}
		<h2>Subjects</h2>
		{% include 'noodle/paginator.html' with items=subjects find_subject=True %}
		<h2>Courses</h2>
		{% include 'noodle/paginator.html' with items=courses find_course=True %}
	</div>
	<br />
	<br />
		<div id="menu">
		<div id="sidebar">
			Recently Added.
		</div>
		
		{% for file in recentFiles %}
			<a href="{% url 'noodle:show_assessment' file.material.courseFrom.subject.slug file.material.courseFrom.slug file.slug %}">{{ file }}</a>
		{% endfor %}
		
	</div>
	
	</section>
	{% endblock %}

