{% extends 'noodle/base.html' %}
{% load staticfiles %}



	{% block title_block %}
	{% endblock %}

	{% block body_block %}
<section id="main" class="wrapper">
	<header class="major">
		<h1> Welcome {{user}} </h1>
		<p />
	</header>
		
		<div id="menu">
		<div id="sidebar">
			Options
		</div>
		<ul>
			{% if tier == 2 %}
				<li><a href="{% url 'noodle:add_subject' %}"> Add Subject</a></li>
			{% endif %}
		</ul>	
		</div>
	<div id="frame">
		Subjects
		{% include 'noodle/paginator.html' with items=subjects find_subject=True %}
		</br>
		Courses
		{% include 'noodle/paginator.html' with items=courses find_course=True %}
	</div>
	<br />
	<br />
		<div id="menu">
		<div id="sidebar">
			Recently Added.
		</div>
		
		{% for file in recentFiles %}
			<a href="{% url 'noodle:show_assessment' file.material.courseFrom.subject.slug file.material.courseFrom.slug file.slug %}">{{ file }}</a>
		{% endfor %}
		
	</div>
	
	</section>
	{% endblock %}

