{% extends 'noodle/base.html' %}
{% load staticfiles %}



	{% block title_block %}
	{% endblock %}

	{% block body_block %}
<section id="main" class="wrapper">
	<header class="major">
		<h1> Welcome {{user}} </h1>
		<p />
	</header>
		
		<div id="menu">
		<div id="sidebar">
			Options
		</div>
		<ul>
			<li><a href="{% url 'noodle:add_material'%}">Add File/Assignment</a></li>
			<li><a href="{% url 'noodle:add_course' %}"> Add Course</a></li>
			<li><!-- If user is an admin, a link to add_subject.html should appear here --></li>
		</ul>	
		</div>
	<div id="frame">
			<!--- This area should contain the links to course pages. Arranged by Alphabetical Order-->
			{% for subject in subjects %}
                 	<li><a href="{% url 'noodle:subject' subject.slug %}">{{ subject.name }}</a></li>
					{% for course in subject %}
						<li><a href="{% url 'noodle:course' course.slug %}">{{ course.name }}</a></li>
					{% endfor %}
            {% endfor %}
			
	</div>
	<br />
	<br />
		<div id="menu">
		<div id="sidebar">
			Recently Added.
		</div>
		
		<!-- This area should display links to the 5 most recently added Files-->
		
	</div>
	
	</section>
	{% endblock %}

