/* Basic */

	body {background: #fff;}

	body, input, select, textarea {
		color: #444;
		font-family: Georgia, sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	a {
		color:#70239a;
		text-decoration: underline;
	}

		a:hover {text-decoration: none; 
				color:#a3f500;}

	p {margin: 0 0 2em 0;}
	h1{color:#571b78;}
	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}


	header.major {
		text-align: center;
		margin-bottom: 0em;
	}

		header.major h2 {font-size: 3em;
		color:#571b78;}

		header.major p {
			border-top: medium double rgba(144, 144, 144, 0.25);
			display: inline-block;
			padding: 2em 2em 0 2em;
		}



	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}


/* Image */

	.image {
		border-radius: 4px;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 4px;
			display: block;
		}


		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 80%;
		}
			.image.fit img {width: 100%;}

/* List */

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
		list-style-type: none;
	}

		ul li {padding-left: 0.5em;}
	#menu{
		border-style: solid;
		border-color:#70239a;
		width:20%;
		border-radius: 15px;
		top:0em;
		left:0em;
		position:relative;
		text-align:center;
		
		
	}
	#center{
		margin:0 auto;
		text-align:center;
	}
	#sidebar {
		width:100.9%;
		background-color: #70239a;
		border-radius: 15px;
		cursor: default;
		height: 4.75em;
		line-height: 4.75em;
		color:#a3f500;
		text-align: center;
		position:inherit;
		left:-2px;
		top:-1px;
		display:inline-block;
		
		
	}
	#menu2{
		border-style: solid;
		border-color:#70239a;
		width:80%;
		border-radius: 15px;
		margin: 0 auto;
		top:0em;
		left:0em;
		position:relative;
	}	
	#sidebar2 {
		height: 4.75em;
		line-height: 4.75em;
		width:100%;
		background-color: #70239a;
		border-radius: 15px;
		cursor: default;
		position:inherit;
		
		top:-30px;
		color:#a3f500;
		text-align: center;
		
	}
	#frameSta{
		border-style: solid;
		position: relative;
		top:-8.5em;
		left:1em;
		margin: 0 auto;
		border-color:#70239a;
		width:50%;
		height:70%;
		border-radius: 15px;
		text-align:center;
		display:block;

	}
	#frameStu{
		border-style: solid;
		position: relative;
		top:-21em;
		left:1em;
		margin: 0 auto;
		border-color:#70239a;
		width:50%;
		height:70%;
		border-radius: 15px;
		text-align:center;
		display:block;
	}
	
.button {
    background-color: #70239a; 
    border: none;
    color: #70239a;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
}
/* Header */
	#header {
		border-radius: 5px;
		background-color: #70239a;
		cursor: default;
		height: 4.75em;
		line-height: 4.75em;
		width: 100%;
		
	}
	

		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 2.75em;
			top: 0;
			vertical-align: middle;
		}
			#header nav > ul > li {
				border-radius: 4px;
				display: inline-block;
				margin-left: 1.5em;
				padding-left: 0;
			}
				#header nav > ul > li a {
					transition: color 0.2s ease-in-out;
					color: #cee8d8;
					display: inline-block;
					text-decoration: none;
				}

						#header nav > ul > li a:hover {color:#a3f500;}				

	#header .container {position: relative;}

	.wrapper {padding: 3em 0em 4em;}	